<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" required name="name" ngModel #nameInput="ngModel"></ion-input>
    </ion-item>
    <ion-note *ngIf="nameInput.invalid && nameInput.touched" color="danger">
      Name is required.
    </ion-note>
    <ion-button expand="full" type="submit" [disabled]="!form.valid">Submit</ion-button>
  </form>
  <ion-button expand="full" color="secondary" routerLink="/about">Go to About Page</ion-button>
</ion-content>
